upstream fastcgi_backend {
    # Connects to PHP-FPM container through Docker socket
    server unix:/sock/docker.sock;
}

server {
    listen 8000;

    # Redirects HTTP to HTTPS
    return 301 https://$host$request_uri;
}

server {
    listen [::]:8443 ssl http2 ipv6only=on;
    listen 8443 ssl http2;

    ssl_certificate /etc/nginx/certs/nginx.crt;
    ssl_certificate_key /etc/nginx/certs/nginx.key;

    set $MAGE_ROOT /var/www/html;
    include /var/www/html/nginx.conf.sample;
}
